In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\hp\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\hp\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: outcome in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [12]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')

# Importing selenium webdriver 
from selenium import webdriver
from selenium.webdriver.common.by import By

#Importing requests
import requests
import urllib

# importing regex
import re

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException,StaleElementReferenceException

Q1) Scrape the details of most viewed videos on YouTube from Wikipedia.Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videosYou need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
#First connect to the driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [4]:
#open the page in automated chrome browser
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [5]:
# Creating Empty list to store all the scrapped result
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]
# Scraping rank
r=driver.find_elements(By.TAG_NAME,"tr")
for i in r[2:32]:
    rank.append(i.text.split("\n")[0].split(".")[0])
    name.append(i.text.split("\n")[0].split(".")[1].split("[")[0])
#scraping Artist
c=4
a=driver.find_elements(By.TAG_NAME,"td")
for i in range(30):
    
    artist.append(a[c].text)
    c=c+6
#scraping views
c=5
a=driver.find_elements(By.TAG_NAME,"td")
for i in range(30):
    
    views.append(a[c].text)
    c=c+6
#scraping upload_date
c=6
a=driver.find_elements(By.TAG_NAME,"td")
for i in range(30):
    upload_date.append(a[c].text)
    c=c+6

details=pd.DataFrame(list(zip(rank,name,artist,upload_date,views)),
                          columns=['Rank','Name','Artist','Upload Date','Views'])
details

,Rank,Name,Artist,Upload Date,Views
0,1,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.98
1,2,"""Despacito""",Luis Fonsi,"January 12, 2017",8.04
2,3,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",6.56
3,4,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",5.88
4,5,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.87
5,6,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.73
6,7,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",5.07
7,8,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.78
8,9,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.76
9,10,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",4.76
10,11,"""Gangnam Style""",Psy,"July 15, 2012",4.63
11,12,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.52
12,13,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.17
13,14,"""Sugar""",Maroon 5,"January 14, 2015",3.80
14,15,"""Roar""",Katy Perry,"September 5, 2013",3.70
15,16,"""Counting Stars""",OneRepublic,"May 31, 2013",3.70
16,17,"""Axel F""",Crazy Frog,"June 16, 2009",3.66
17,18,"""Sorry""",Justin Bieber,"October 22, 2015",3.61
18,19,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.53
19,20,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
20,21,"""Dark Horse""",Katy Perry,"February 20, 2014",3.42
21,22,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.39
22,23,"""Faded""",Alan Walker,"December 3, 2015",3.38
23,24,"""Let Her Go""",Passenger,"July 25, 2012",3.36
24,25,"""Girls Like You""",Maroon 5,"May 31, 2018",3.35
25,26,"""Perfect""",Ed Sheeran,"November 9, 2017",3.33
26,27,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.31
27,28,"""Lean On""",Major Lazer,"March 22, 2015",3.30
28,29,"""Humpty the train on a fruits ride""",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
29,30,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.24

Q2) Scrape the details team India’s international fixtures from bcci.tv.Url = https://www.bcci.tv/ . You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [3]:
#First connect to the driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [4]:
#open the page in automated chrome browser
url='https://www.bcci.tv/'
driver.get(url)

In [5]:
search_button=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
search_button.click()

In [6]:
# Creating Empty list to store all the scrapped result
title=[]
series=[]
place=[]
date=[]
time=[]
# Scraping title
t=driver.find_elements(By.XPATH,"//span[@class='matchOrderText ng-binding ng-scope']")
for i in t:
    title.append(i.text.split("-")[0])
# Scraping series
s=driver.find_elements(By.XPATH,"//span[@class='ng-binding']")
for i in s:
    series.append(i.text)
# Scraping place
p=driver.find_elements(By.XPATH,"//div[@class='fix-place ng-binding ng-scope']")
for i in p:
    place.append(i.text.split("-")[1])
# Scraping date
d=driver.find_elements(By.XPATH,"//h5[@class='ng-binding']")
for i in d:
    date.append(i.text)
# Scraping time
ti=driver.find_elements(By.XPATH,"//h5[@class='text-right ng-binding']")
for i in ti:
    time.append(i.text)  
    
details=pd.DataFrame(list(zip(title,series,place,date,time)),
                          columns=['Title','Series','Place','Date','Time'])
details

,Title,Series,Place,Date,Time
0,2nd T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",29 DEC 2022,5:15 PM IST
1,3rd T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",31 DEC 2022,1:30 PM IST
2,4th T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",2 JAN 2023,5:15 PM IST
3,1st T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Wankhede Stadium, Mumbai",3 JAN 2023,7:00 PM IST
4,5th T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",4 JAN 2023,1:30 PM IST
5,2nd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Maharashtra Cricket Association Stadium, Pune",5 JAN 2023,7:00 PM IST
6,3rd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Saurashtra Cricket Association Stadium, Rajkot",7 JAN 2023,7:00 PM IST
7,1st ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Barsapara Cricket Stadium, Guwahati",10 JAN 2023,1:30 PM IST

Q3) Scrape the details of selenium exception from guru99.com.Url = https://www.guru99.com/You need to find following details:
A) Name
B) Description

In [13]:
#First connect to the driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [14]:
#open the page in automated chrome browser
url='https://www.guru99.com/'
driver.get(url)

In [15]:
search_button=driver.find_element(By.XPATH,"/html/body/footer/div/div[1]/div/div/div/div/div/div/section/div/div/div[2]/div/div/div/div/div[2]/div/div/div[2]/div/div[2]/div/div/div[3]/div/div/div[2]/div/div/a/div[1]/div/div/div/span")
search_button.click()

In [16]:
button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a")
button.click()

In [17]:
# Creating Empty list to store all the scrapped result
name =[]
description=[]

# Extracting name and description of exception
all_info=[]
try:
    all_tags =driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p')
    for i in all_tags:
        all_info.append(i.text.split(":"))
except NoSuchElementException:
    all_info.append('--')
all_info1= all_info[:41]

jj=[]
for i in all_info1:
    for j in i:
        jj.append(j)
        

for i in range(0, len(jj)):
    if i % 2 ==0:
        name.append(jj[i])

for i in range(0, len(jj)):
    if i % 2 ==1:
        description.append(jj[i])

In [18]:
print(len(name))
print(len(description))

41
41

In [19]:
# Creating DataFrame for scrapped data

data_list= list(zip(name,description ))

data= pd.DataFrame(data_list, 
    columns =['Name','Description'],
    index=pd.RangeIndex(start=1, stop=42, name='Sr. No.'))

#Print the required data

print ("Details of selenium exception from guru99.com:\n")
data

Details of selenium exception from guru99.com:

,Name,Description
Sr. No.,,
1,1. ElementNotVisibleException,This type of Selenium exception occurs when a...
2,2. ElementNotSelectableException,This Selenium exception occurs when an elemen...
3,3. NoSuchElementException,This Exception occurs if an element could not...
4,4. NoSuchFrameException,This Exception occurs if the frame target to ...
5,5. NoAlertPresentException,This Exception occurs when you switch to no p...
6,6. NoSuchWindowException,This Exception occurs if the window target to...
7,7. StaleElementReferenceException,This Selenium exception occurs happens when t...
8,8. SessionNotFoundException,The WebDriver is acting after you quit the br...
9,9. TimeoutException,Thrown when there is not enough time for a co...
10,10. WebDriverException,This Exception takes place when the WebDriver...
11,11. ConnectionClosedException,This type of Exception takes place when there...
12,12. ElementClickInterceptedException,The command may not be completed as the eleme...
13,13. ElementNotInteractableException,This Selenium exception is thrown when any el...
14,14. ErrorInResponseException,This happens while interacting with the Firef...
15,15. ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if...
16,16. ImeActivationFailedException,This expectation will occur when IME engine a...
17,17. ImeNotAvailableException,It takes place when IME support is unavailable.
18,18. InsecureCertificateException,Navigation made the user agent to hit a certi...
19,19. InvalidArgumentException,It occurs when an argument does not belong to...
20,20. InvalidCookieDomainException,This happens when you try to add a cookie und...
21,21. InvalidCoordinatesException,This type of Exception matches an interacting...
22,22. InvalidElementStateException,It occurs when command can’t be finished when...
23,23. InvalidSessionIdException,This Exception took place when the given sess...
24,24. InvalidSwitchToTargetException,This occurs when the frame or window target t...
25,25. JavascriptException,This issue occurs while executing JavaScript ...
26,26. JsonException,It occurs when you afford to get the session ...
27,27. NoSuchAttributeException,This kind of Exception occurs when the attrib...
28,28. MoveTargetOutOfBoundsException,It takes place if the target provided to the ...
29,29. NoSuchContextException,ContextAware does mobile device testing.
30,30. NoSuchCookieException,This Exception occurs when no cookie matching...
31,31. NotFoundException,This Exception is a subclass of WebDriverExce...
32,32. RemoteDriverServerException,This Selenium exception is thrown when the se...
33,33. ScreenshotException,It is not possible to capture a screen.
34,34. SessionNotCreatedException,It happens when a new session could not be su...
35,35. UnableToSetCookieException,This occurs if a driver is unable to set a co...
36,36. UnexpectedTagNameException,Happens if a support class did not get a web ...
37,37. UnhandledAlertException,This expectation occurs when there is an aler...
38,38. UnexpectedAlertPresentException,It occurs when there is the appearance of an ...
39,39. UnknownMethodException,This Exception happens when the requested com...
40,40. UnreachableBrowserException,This Exception occurs only when the browser i...
41,41. UnsupportedCommandException,This occurs when remote WebDriver doesn’t sen...

Q4) Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [35]:
#First connect to the driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [36]:
#open the page in automated chrome browser
url='http://statisticstimes.com/'
driver.get(url)

In [37]:
search_button=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
search_button.click()

In [38]:
search_button=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
search_button.click()

In [40]:
state_button=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
state_button.click()

In [41]:
# Creating Empty list to store all the scrapped result
rank=[]
state=[]
gsdp_18=[]
gsdp_19=[]
share=[]
gdp=[]
#Scraping Rank
a=driver.find_elements(By.XPATH,"//td[@class='data1']")
for i in a[:34]:
    rank.append(i.text)
#Scraping State    
b=driver.find_elements(By.XPATH,"//td[@class='name']")
for i in b[:33]:
    state.append(i.text)
#Scraping gsdp_18    
c=driver.find_elements(By.XPATH,"//td[@class='data sorting_1']")
for i in c[:33]:
    gsdp_18.append(i.text)
#Scraping gsdp_19 
j=0
c=driver.find_elements(By.XPATH,"//td[@class='data']")
for i in range(33):
    gsdp_19.append(c[j].text)
    j=j+5

#Scraping share
j=1
for i in range(33):
    share.append(c[j].text)
    j=j+5
      
#Scraping gdp
j=2
for i in range(33):
    gdp.append(c[j].text)
    j=j+5

eco_details=pd.DataFrame(list(zip(rank,state,gsdp_18,gsdp_19,share,gdp)),
                          columns=['Rank','State','gsdp_18','gsdp_19','share','GDP'])
eco_details

   Rank                      State    gsdp_18    gsdp_19   share      GDP
0     1                Maharashtra  2,632,792          -  13.94%  399.921
1     2                 Tamil Nadu  1,630,208  1,845,853   8.63%  247.629
2     3              Uttar Pradesh  1,584,764  1,687,818   8.39%  240.726
3     4                    Gujarat  1,502,899          -   7.96%  228.290
4     5                  Karnataka  1,493,127  1,631,977   7.91%  226.806
5     6                West Bengal  1,089,898  1,253,832   5.77%  165.556
6     7                  Rajasthan    942,586  1,020,989   4.99%  143.179
7     8             Andhra Pradesh    862,957    972,782   4.57%  131.083
8     9                  Telangana    861,031    969,604   4.56%  130.791
9    10             Madhya Pradesh    809,592    906,672   4.29%  122.977
10   11                     Kerala    781,653          -   4.14%  118.733
11   12                      Delhi    774,870    856,112   4.10%  117.703
12   13                    Haryana    734,163    831,610   3.89%  111.519
13   14                      Bihar    530,363    611,804   2.81%   80.562
14   15                     Punjab    526,376    574,760   2.79%   79.957
15   16                     Odisha    487,805    521,275   2.58%   74.098
16   17                      Assam    315,881          -   1.67%   47.982
17   18               Chhattisgarh    304,063    329,180   1.61%   46.187
18   19                  Jharkhand    297,204    328,598   1.57%   45.145
19   20                Uttarakhand    245,895          -   1.30%   37.351
20   21            Jammu & Kashmir    155,956          -   0.83%   23.690
21   22           Himachal Pradesh    153,845    165,472   0.81%   23.369
22   23                        Goa     73,170     80,449   0.39%   11.115
23   24                    Tripura     49,845     55,984   0.26%    7.571
24   25                 Chandigarh     42,114          -   0.22%    6.397
25   26                 Puducherry     34,433     38,253   0.18%    5.230
26   27                  Meghalaya     33,481     36,572   0.18%    5.086
27   28                     Sikkim     28,723     32,496   0.15%    4.363
28   29                    Manipur     27,870     31,790   0.15%    4.233
29   30                   Nagaland     27,283          -   0.14%    4.144
30   31          Arunachal Pradesh     24,603          -   0.13%    3.737
31   32                    Mizoram     22,287     26,503   0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -       -        -

Q5)Scrape the details of trending repositories on Github.com.Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [3]:
#First connect to the driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [4]:
#open the page in automated chrome browser
url='https://github.com/'
driver.get(url)

In [5]:
explore=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
explore.click()

In [6]:
trending=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
trending.click()

In [7]:
# Creating Empty list to store all the scrapped result
title=[]
desc=[]
count=[]
language=[]

#Scraping repository title
a=driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']")
for i in a:
    title.append(i.text)

#Scraping repository description
d=driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in d:
    desc.append(i.text)
    
#Scraping count
d=driver.find_elements(By.XPATH,"//a[@class='Link--muted d-inline-block mr-3']")
for i in range(len(d)):
    if i%2==0:
        count.append(d[i].text)

#Scraping language
l=driver.find_elements(By.XPATH,"//span[@class='d-inline-block ml-0 mr-3']")
for i in l:        
    language.append(i.text)
    
print("Repository title:\n",title)
print("\n")
print("Repository Description:\n",desc)
print("\n")
print("Count:\n",count)
print("\n")
print("Language used:\n",language)

repo_details=pd.DataFrame(list(zip(title,desc,count,language)),
                          columns=['Title','Desc','Count','Language'])
repo_details

Repository title:
 ['LAION-AI / Open-Assistant', 'apple / ml-stable-diffusion', 'hehonghui / awesome-english-ebooks', 'AmruthPillai / Reactive-Resume', 'microfeed / microfeed', 'excalidraw / excalidraw', 'TheOfficialFloW / HENlo', 'tesseract-ocr / tesseract', 'zhuowei / WDBFontOverwrite', 'novuhq / novu', 'timqian / chinese-independent-blogs', 'gabiduarte / awesome-techleads', 'microsoft / RoadDetections', 'lencx / ChatGPT', 'facebook / folly', 'mouredev / retos-programacion-2023', 'AmazingAng / WTF-Solidity', 'zas023 / JdBuyer', 'ChatGPT-Hackers / ChatGPT-API-server', 'bregman-arie / devops-resources', 'zinclabs / zinc', 'google / comprehensive-rust', '521xueweihan / HelloGitHub', 'openai-php / laravel', 'malkemit / namizun']


Repository Description:
 ['Stable Diffusion with Core ML on Apple Silicon', '经济学人(含音频)、纽约客、卫报、连线、大西洋月刊等英语杂志免费下载,支持epub、mobi、pdf格式, 每周更新', 'A one-of-a-kind resume builder that keeps your privacy in mind. Completely secure, customizable, portable, open-source and free forever. Try it out today!', 'a lightweight cms self-hosted on cloudflare, for podcasts, blogs, photos, videos, documents, and curated urls.', 'Virtual whiteboard for sketching hand-drawn like diagrams', 'WebKit+Kernel exploit chain for all PS Vita firmwares', 'Tesseract Open Source OCR Engine (main repository)', 'Proof-of-concept app to overwrite fonts on iOS using CVE-2022-46689.', 'The open-source notification infrastructure for products. Add a notification center for your React, Vue and Angular apps 🚀', '中文独立博客列表', 'Uma lista selecionada de conteúdos sobre liderança técnica, com preferência em conteúdos em português', 'Road detections from Microsoft Maps aerial imagery', '🤖 ChatGPT Desktop Application (Mac, Windows and Linux)', 'An open-source C++ library developed and used at Facebook.', 'Ejercicios de código semanales en 2023 de la comunidad MoureDev para practicar lógica en cualquier lenguaje de programación.', '我最近在重新学solidity，巩固一下细节，也写一个“WTF Solidity极简入门”，供小白们使用，每周更新1-3讲。官网: https://wtf.academy', '京东抢购自动下单助手，GUI 支持 Windows 和 macOS', 'API server for ChatGPT', 'DevOps resources - Linux, Jenkins, AWS, SRE, Prometheus, Docker, Python, Ansible, Git, Kubernetes, Terraform, OpenStack, SQL, NoSQL, Azure, GCP', 'ZincSearch. A lightweight alternative to elasticsearch that requires minimal resources, written in Go.', 'This is the Rust course used by the Android team at Google. It provides you the material to quickly teach Rust to everyone.', '分享 GitHub 上有趣、入门级的开源项目。Share interesting, entry-level open source projects on GitHub.', '⚡️ OpenAI PHP for Laravel is a supercharged PHP API client that allows you to interact with OpenAI API', 'Asymmetric upload and download']


Count:
 ['1,530', '4,607', '3,287', '8,957', '1,162', '38,051', '145', '48,131', '359', '15,896', '11,691', '1,412', '235', '2,479', '23,972', '355', '5,140', '2,484', '302', '6,335', '13,050', '4,171', '62,784', '487', '220']


Language used:
 ['Python', 'Python', 'CSS', 'TypeScript', 'JavaScript', 'TypeScript', 'JavaScript', 'C++', 'Swift', 'TypeScript', 'JavaScript', 'Rust', 'C++', 'Solidity', 'Python', 'Go', 'Groovy', 'Go', 'Rust', 'Python', 'PHP', 'Python']

,Title,Desc,Count,Language
0,LAION-AI / Open-Assistant,Stable Diffusion with Core ML on Apple Silicon,"1,530",Python
1,apple / ml-stable-diffusion,"经济学人(含音频)、纽约客、卫报、连线、大西洋月刊等英语杂志免费下载,支持epub、mobi...","4,607",Python
2,hehonghui / awesome-english-ebooks,A one-of-a-kind resume builder that keeps your...,"3,287",CSS
3,AmruthPillai / Reactive-Resume,"a lightweight cms self-hosted on cloudflare, f...","8,957",TypeScript
4,microfeed / microfeed,Virtual whiteboard for sketching hand-drawn li...,"1,162",JavaScript
5,excalidraw / excalidraw,WebKit+Kernel exploit chain for all PS Vita fi...,"38,051",TypeScript
6,TheOfficialFloW / HENlo,Tesseract Open Source OCR Engine (main reposit...,145,JavaScript
7,tesseract-ocr / tesseract,Proof-of-concept app to overwrite fonts on iOS...,"48,131",C++
8,zhuowei / WDBFontOverwrite,The open-source notification infrastructure fo...,359,Swift
9,novuhq / novu,中文独立博客列表,"15,896",TypeScript
10,timqian / chinese-independent-blogs,Uma lista selecionada de conteúdos sobre lider...,"11,691",JavaScript
11,gabiduarte / awesome-techleads,Road detections from Microsoft Maps aerial ima...,"1,412",Rust
12,microsoft / RoadDetections,"🤖 ChatGPT Desktop Application (Mac, Windows an...",235,C++
13,lencx / ChatGPT,An open-source C++ library developed and used ...,"2,479",Solidity
14,facebook / folly,Ejercicios de código semanales en 2023 de la c...,"23,972",Python
15,mouredev / retos-programacion-2023,我最近在重新学solidity，巩固一下细节，也写一个“WTF Solidity极简入门”，...,355,Go
16,AmazingAng / WTF-Solidity,京东抢购自动下单助手，GUI 支持 Windows 和 macOS,"5,140",Groovy
17,zas023 / JdBuyer,API server for ChatGPT,"2,484",Go
18,ChatGPT-Hackers / ChatGPT-API-server,"DevOps resources - Linux, Jenkins, AWS, SRE, P...",302,Rust
19,bregman-arie / devops-resources,ZincSearch. A lightweight alternative to elast...,"6,335",Python
20,zinclabs / zinc,This is the Rust course used by the Android te...,"13,050",PHP
21,google / comprehensive-rust,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...","4,171",Python

Q6) Scrape the details of top 100 songs on billiboard.com.Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [42]:
#First connect to the driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [43]:
#open the page in automated chrome browser
url='http://www.billboard.com/'
driver.get(url)

In [44]:
search_button=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
search_button.click()

In [45]:
search_button=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a")
search_button.click()

In [46]:
# Creating Empty list to store all the scrapped result
name=[]
artist=[]
last_week_rank=[]
peak_rank=[]
weeks=[]

a=driver.find_elements(By.XPATH,"//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']")

artist.append(a[0].text.split("\n")[1])
last_week_rank.append(a[0].text.split("\n")[2])
peak_rank.append(a[0].text.split("\n")[3])
weeks.append(a[0].text.split("\n")[4])

#Scraping name
a=driver.find_elements(By.TAG_NAME,"h3")
for i in a[1:]:
    name.append(i.text)
while ("" in name):
    name.remove("")    
 

 #Scraping artist
a=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in a:
    artist.append(i.text)
 

 #Scraping last_week_rank
j=0
a=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in range(len(a)):
    last_week_rank.append(a[j].text)
    j=j+3
    if (len(a)-1)<=j:
        break


#Scraping peak_rank
j=1
a=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in range(len(a)):
    peak_rank.append(a[j].text)
    j=j+3
    if (len(a)-1)<=j:
        break


#Scraping weeks
j=2
a=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in range(len(a)):
    weeks.append(a[j].text)
    j=j+3
    if (len(a)-1)<=j:
        break
while "" in last_week_rank: 
    last_week_rank.remove("")
while "" in peak_rank: 
    peak_rank.remove("")
while "" in weeks: 
    weeks.remove("")
    
song_details=pd.DataFrame(list(zip(name[:100],artist,last_week_rank,peak_rank,weeks)),
                          columns=['Song Name','Artist','Last Week Rank','Peak rank','Weeks on board'])
song_details

,Song Name,Artist,Last Week Rank,Peak rank,Weeks on board
0,All I Want For Christmas Is You,Mariah Carey,1,1,57
1,Rockin' Around The Christmas Tree,Brenda Lee,2,2,51
2,Jingle Bell Rock,Bobby Helms,4,3,48
3,A Holly Jolly Christmas,Burl Ives,5,4,31
4,Last Christmas,Wham!,6,5,30
...,...,...,...,...,...
95,Down Home,Jimmie Allen,-,88,5
96,One Thing At A Time,Morgan Wallen,81,37,3
97,Hold Me Closer,Elton John & Britney Spears,89,6,17
98,Far,SZA,61,61,2
99,All Mine,Brent Faiyaz,95,42,20

Q7) Scrape the details of Data science recruiters from naukri.com.Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [47]:
#First connect to the driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [48]:
#open the page in automated chrome browser
url='https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)

In [49]:
search_job=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
search_job.send_keys("Data Scientist")

In [50]:
search_button=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
search_button.click()

In [51]:
# Creating Empty list to store all the scrapped result
name=[]
desg=[]
company=[]
skills=[]
location=[]
#Scraping Name
a=driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']")
for i in a:
    name.append(i.text)
#Scraping Designation
a=driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']")
for i in a:
    desg.append(i.text)
#Scrapping Company
a=driver.find_elements(By.XPATH,"//a[@class='ellipsis']")
for i in range(1,len(a),2):
    company.append(a[i].text)
#Scraping skills
a=driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']")
for i in a:
    skills.append(i.text)
#Scraping location
a=driver.find_elements(By.XPATH,"//small[@class='ellipsis']")
for i in a:
    location.append(i.text)
    
rec_details=pd.DataFrame(list(zip(name,desg,company,skills,location)),
                          columns=['Name','Designation','Company','Skills','Location'])
rec_details

,Name,Designation,Company,Skills,Location
0,Tanushree,Lead Recruiter,RecRoots,"UI Developers, Software Engineers, Quality Ass...",Noida
1,sashi bhushan,Senior Specialist,Wipro,"pig, hbase, sas, spss, apache, python, nosql, ...",Bengaluru / Bangalore
2,Bitapi,HR and Operation Manager,Anvaya,"Hadoop, Big Data, Data Scientists, Java, Sprin...",Bengaluru / Bangalore
3,Gajendra Singh,Head of Recruitment - Product &amp;...,A Leading of Product Start-UP Company,"Data Scientist, Big Data, Hadoop, Web Analytic...",Noida
4,Sadashiv Kulkarni,Company HR,Digitially Insights Pvt Ltd,"Big Data Engineer, Data Scientist, Solutions, ...",Pune
5,Invelopment,Company HR,Invelopment,Scandinavian Startups,Ahmedabad
6,Anjali Srivastava,Director HR,CodeFire Technologies Pvt. Ltd.,"Technical, Business Development Executive, Sof...",Noida
7,Helly Vyas,HR Business Partner,AM - TA &amp; HR,"Big Data technology, PLSQL, Web Developer, Jav...",Pune
8,Ashish Verma,Senior Associate Human Resources,Evalueserve.com Private Limited,"SAS, VBA, Business Information Services(BIS), ...",Gurgaon
9,Shiva Kumar N,Founder,Rapid Talent Solutions -9148242334,"salaesforce, Web Technologies, .net, .net full...",Bengaluru / Bangalore
10,Bhuwneshari Devi,Lead Talent Acquisition,Success Pact Consulting,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip...",Delhi
11,Balaji Prabhakaran,Company Recruiter,Oportun,"Technical Solution Architect, Data Scientist, ...",Chennai
12,HS Sandesh,Talent Evangelist www staffiohr co,Staffio HR,"Digital Marketing, General Manager, Business D...",Bengaluru / Bangalore
13,Anoop Somarajan,Manager - Talent Acquisition,R1RCM,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript...",Chennai
14,Datafoundry,Company HR,JAITRA SOFTWARE SOLUTIONS PVT LTD,"Webmethods Developer, Mean Stack, Business Ana...",Bengaluru / Bangalore
15,A Valsa Florina,Recruitment Specialist,Redbus.in,"Business Analyst, Front end developer, legal, ...",Bengaluru / Bangalore
16,Kalaivani M V,HR Manager,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,"Data Scientist, Cloud Computing, Mobile Applic...",Chennai
17,Prashant K,Sr HR,Confidential,"Data Analyst, Statistical Analysis, Data Scien...",Bengaluru / Bangalore
18,Radhika,HR Associate,Bright Bridge Info-tech Pvt Ltd,"business analyst - IT (python), pay per click,...",Coimbatore
19,Rakhi,HR recruiter,Constalytics,"Data Scientist, Data Research Analyst, Big Dat...",Singapore - (singapore)
20,Monika Jain,Talent Aquistion Lead,Info Edge India Limited,"Lamp Developer, Ui/ux Developer, Qa Engineer, ...",Noida
21,Trilok Nath,Senior IT Recruiter,Molveno Consulting Private Limited,".Net Developers With Angular Js, Html, Front E...",Hyderabad / Secunderabad
22,Rashmi Kathuria,Talent Acquisition Specialist (Specialized...,Mount Talent consulting,"Leading MNCs, Product based organizations",Noida
23,Vidya Rani Hadimani,Business Manager Delivery,Talent Management Labs Inc.,Amazon Walmart Adobe OLA Myntracom Komli Media...,Bengaluru / Bangalore
24,Monika Singh Thakur,Technical Recruiter,ValueLabs,"Big Data Analytics, Marketing Analytics, Full ...",Indore
25,Shikha Bakshi,Senior Manager Recruitment,Fractal Analytics!!,"Analytics, Big Data, Hadoop, Python",Gurgaon
26,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Noida
27,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
28,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
29,Ravi,Team HR,Einfluss Teknocommercial Pvt. Ltd.,"Deep Learning, Machine Learning, unstructured ...",Ghaziabad
30,Sai Siddharth Chinta,Technical Recruiter,McKinsey &amp; Company,Not Specified,Bengaluru / Bangalore
31,Ishu Kumar,Co Founder &amp; Ceo,Data X,"Python, Machine Learning, Sql, Data Science",Bengaluru / Bangalore
32,Vivek Shrivastava,Assistant Manager Human Resources,InnovAccer Management Pvt Ltd,"Business Analyst, analytics, Decesion Scientis...",Noida
33,Gayathri E,Sr Recruitment,Wonderwrks IT Services Private Limited,"IT Infrastructure Management, PHP, Wordpress, ...",Chennai
34,Best In Town Analytics,Analytics Associate,BITA,Data Analytics,Bengaluru / Bangalore
35,Santhosh Nagaiah,Chief marketing officer,Tuple Technologies Pte Ltd,"Data Science, Project Management, Backend",Mumbai
36,priyanka,General Manager,Reliance Industries,"Sap, Saas, Sql, Hadoop, Production Planning, B...",Bengaluru / Bangalore
37,Nagendla Syam Kumar,Data Scientist,FLOWERHORN IT PVT LTD,"Machine Learning, NLP, Performance Review, HR,...",Bengaluru / Bangalore
38,Renny Benita K,Operations Manager,DeepIQ Software Solutions Pvt Ltd,"Core Java, J2ee, Big Data, Machine Learning, D...",Hyderabad / Secunderabad
39,Roshan Menugu,Company Recruiter,Cyient Limited,Not Specified,Delhi
40,Jamil Akhtar,Company Recruiter,Quikkloan,Not Specified,Pune
41,Sudipta Samanta,Founder,DataNnoviteSol LLP,Not Specified,Bengaluru / Bangalore
42,HR Team,Company HR,Terra Blue Exploration Technologies Pvt....,Not Specified,Bengaluru / Bangalore
43,rajesh,HR Executive,quantum value IT services,"Data Scientist, Tableau, R Tool, Data Analytic...",Hyderabad / Secunderabad
44,navya neluri,Data Scientist,asens labs,Not Specified,Pune
45,Ram Kumar,Data Scientist,Working As A Freelancer,Not Specified,Bengaluru / Bangalore
46,Vanitha Senkurichi,Company HR,Quaero 3 India Ltd,"sql, Ui Development, ssis, Data Modeling, Data...",Hyderabad / Secunderabad
47,Sravan Kumar Ranga,Assistant Manager,GSPANN Technologies,"devops, build and release, Delivery Manager, O...",Bengaluru / Bangalore
48,Gautam Malaiappan,Founder CEO,HireHappi,"Sql, Sas, Sas Programming, Python, Tableau, Vb...",Mumbai

Q8)Scrape the details of Highest selling novels.
URL = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [52]:
#First connect to the driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [53]:
#open the page in automated chrome browser
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [54]:
# Creating Empty list to store all the scrapped result
name=[]
author=[]
vol_sold=[]
publisher=[]
genre=[]

#Scraping Name
a=driver.find_elements(By.XPATH,"//td[@class='left']")
for i in range(1,len(a),5):
    name.append(a[i].text)
for i in range(2,len(a),5):
    author.append(a[i].text)
for i in range(3,len(a),5):
    vol_sold.append(a[i].text)
for i in range(4,len(a),5):
    publisher.append(a[i].text)
a=driver.find_elements(By.XPATH,"//td[@class='last left']")
for i in a:
    genre.append(i.text)
    
book_details=pd.DataFrame(list(zip(name,author,vol_sold,publisher,genre)),
                          columns=['Book Name','Author','Volumes Sold','Publisher','Genre'])
book_details

,Book Name,Author,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q9)Scrape the details most watched tv series of all time from imdb.com.Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [55]:
#First connect to the driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [56]:
#open the page in automated chrome browser
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [57]:
# Creating Empty list to store all the scrapped result
name=[]
year_span=[]
genre=[]
run_time=[]
ratings=[]
votes=[]
#Scraping Name 
a=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']")
for i in a:
    name.append(i.text.split(".")[1].split("(")[0])
    
#Scraping year of span
a=driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
for i in a:
    year_span.append(i.text.split("(")[1].split(")")[0])
#Scraping genre
a=driver.find_elements(By.XPATH,"//span[@class='genre']")
for i in a:
    genre.append(i.text)
#Scraping run time
a=driver.find_elements(By.XPATH,"//span[@class='runtime']")
for i in a:
    run_time.append(i.text)
#Scraping rating
a=driver.find_elements(By.XPATH,"//span[@class='ipl-rating-star__rating']")
for i in a:
    if i.text=="\n" or i.text=="Rate" or i.text=="":
        continue
    ratings.append(i.text)  
    
##Scraping votes
a=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']")

for i in range(2,len(a),3):
    votes.append(a[i].text.split(":")[1])
    
show_details=pd.DataFrame(list(zip(name,year_span,genre,run_time,ratings,votes)),
                          columns=['Show Name','Year of Span','Genre','Run Time','Rating','Votes'])
show_details

,Show Name,Year of Span,Genre,Run Time,Rating,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"2,098,642"
1,Stranger Things,2016–,"Drama, Fantasy, Horror",51 min,8.7,"1,188,760"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.1,"993,411"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"293,985"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"253,132"
...,...,...,...,...,...,...
95,Reign,2013–2017,Drama,42 min,7.4,"50,344"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"61,908"
97,Criminal Minds,2005–,"Crime, Drama, Mystery",42 min,8.1,"199,722"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7.1,"41,693"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"246,699"

Q10) Details of Datasets from UCI machine learning repositories.Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [58]:
#First connect to the driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [59]:
#open the page in automated chrome browser
url='https://archive.ics.uci.edu/'
driver.get(url)

In [60]:
search_button=driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td/span/b/a")
search_button.click()

In [61]:
# Creating Empty list to store all the scrapped result
name=[]
data_type=[]
task=[]
att_type=[]
instances=[]
attribute=[]
year=[]
#Scraping Name 

a=driver.find_elements(By.XPATH,"//p[@class='normal']")
for i in range(8,len(a[8:]),7):
    name.append(a[i].text)
#Scraping data type
for i in range(9,len(a[9:]),7):
    data_type.append(a[i].text)
    
#Scraping task
for i in range(10,len(a[10:]),7):
    task.append(a[i].text)
    
#Scraping Attribute type
for i in range(11,len(a[11:]),7):
    print(a[i].text)
    att_type.append(a[i].text)
#Scraping instances
for i in range(12,len(a[12:]),7):
    print(a[i].text)
    instances.append(a[i].text)
    
#Scraping Attribute 
for i in range(13,len(a[13:]),7):
    print(a[i].text)
    attribute.append(a[i].text)
#Scraping instances
for i in range(14,len(a[14:]),7):
    print(a[i].text)
    year.append(a[i].text)
    
show_details=pd.DataFrame(list(zip(name,data_type,task,att_type,instances,attribute,year)),
                          columns=['Dataset Name','Data Type','Task','Attribute Type','Instances','Attribute','Year'])
show_details

Categorical, Integer, Real
Categorical, Integer
Categorical, Integer, Real
Categorical
Categorical, Integer, Real
Categorical, Integer, Real
Categorical
Categorical
Categorical, Real
Categorical, Integer, Real

Categorical
Categorical
Categorical
Integer
Real
Real
Categorical, Integer
Categorical
Categorical, Integer
Categorical, Integer
Categorical
Categorical, Integer

Categorical, Integer
Categorical
Categorical, Integer, Real
Categorical, Real, Integer
Integer
Categorical, Integer
Categorical, Integer
Categorical, Integer, Real
Categorical, Integer
Categorical, Integer
Real


Categorical, Integer, Real
Real
Categorical, Integer
Real
Real
Integer
Categorical
Categorical, Integer, Real
Categorical, Integer, Real
Categorical, Integer, Real
Real
Real
Categorical, Integer, Real
Integer, Real
Real
Real
Categorical
Categorical, Integer, Real
Categorical
Categorical
Integer
Categorical, Integer, Real

Integer
Categorical
Categorical, Integer, Real
Categorical, Integer, Real
Categorical, Integer, Real
Categorical
Categorical
Categorical
Categorical

Integer, Real
Categorical
Integer
Integer
Categorical

Integer, Real
Integer
Integer
Categorical, Integer
Categorical


Real
Categorical, Integer
Categorical
Categorical
Categorical
Categorical
Integer
Integer, Real
Integer, Real
Categorical
Integer
Categorical, Integer


Categorical, Integer
Categorical
Categorical, Real
Categorical
Categorical, Integer
Categorical
Integer, Real
Real
Real
Integer, Real
Real
Categorical, Integer


Categorical, Real
Real
Categorical
Categorical, Integer
Categorical, Real
Real

Categorical, Integer, Real
Integer, Real
Categorical
Integer
Categorical, Integer
Categorical, Integer
Categorical, Integer
Real
Categorical, Integer
Categorical, Integer


Categorical

Categorical, Real

Categorical
Integer
Real
Categorical


Categorical, Integer, Real
Categorical, Integer
Categorical, Real
Integer
Real
Integer
Integer
Categorical
Real
Real


Real
Categorical, Integer
Categorical, Integer
Categorical, Integer
Real
Integer
Integer
Real

Integer
Real
Real
Real
Integer
Integer
Integer
Real
Real
Integer
Real
Real
Real
Integer
Integer
Real
Categorical
Real
Real
Real
Categorical, Integer
Real
Integer, Real
Real
Integer, Real
Integer

Real
Real
Real
Real
Real
Categorical, Integer, Real
Integer, Real
Real
Real
Real

Real
Integer
Integer, Real
Real
Real
Real
Real
Real
Real

Real


Integer, Real
Integer, Real
Real

Real
Integer, Real
Real
Real
Real
Real
Real
Real

Integer
Real
Real
Integer, Real
Integer


Real
Integer, Real
Real
Real
Real
Real
Real
Integer, Real
Real
Integer, Real
Real
Real
Real
Integer, Real

Real
Integer
Real


Real
Integer, Real
Real
Real
Real
Integer
Integer, Real
Real

Integer, Real
Real
Real
Integer, Real
Integer, Real
Integer, Real
Real
Real
Real

Real


Real
Real
Real

Real
Real
Integer

Real

Integer

Real
Integer, Real
Integer, Real
Real
Integer
Integer, Real
Real


Real
Real
Integer, Real
Integer
Integer, Real
Real

Real
Real
Real
Real
Real
Integer
Real
Real
Integer, Real

Real
Real
Integer
Real
Integer, Real
Categorical

Integer, Real


Integer, Real
Real
Real

Real
Real
Real
Real
Integer, Real
Real
Integer
Real
Real
Integer
Integer, Real
Real
Integer, Real
Integer
Real
Real
Real
Real

Real
Real
Real
Integer, Real
Real
Real
Real

Integer

Integer
Real
Real
Real
Integer
Integer
Integer, Real
Real
Integer

Integer, Real
Integer
Integer, Real
Real
Integer
Real
Real
Integer, Real
Integer
Real
Integer, Real
Integer, Real
Integer, Real
Integer, Real
Integer
Integer, Real
Integer

Integer, Real

Real
Real

Integer
Real
Real
Integer
Real
Integer
Integer
Integer, Real
Integer, Real
Integer
Integer
Real
Integer
Integer, Real
Integer
Integer
Integer
Integer, Real
Real
Integer, Real
Integer

Integer
Real
Integer, Real
Integer, Real
Real

Integer, Real
Real

Integer
Real
Real
Real
Integer
Integer
Real
Real
Integer, Real

Real
Real
Integer, Real
Integer
Integer
Real


Integer
Integer
Integer

Real
Categorical
Integer
Integer
Integer
Real
Real
Real

Integer, Real

Integer, Real
Real
Integer


Real
Real
Integer, Real
Real
Integer
Real
Real
Real
Integer, Real
Real
Real
Integer
Real
Integer

Integer, Real
Real
Real
Real
Real
Integer
Integer
Integer
Real
Integer, Real
Integer, Real
Integer, Real
Real
Real
Integer, Real
Real



Integer, Real
Integer
Integer, Real
Real
Real
Real
Real
Real
Integer, Real
Real
Real
Integer, Real
Integer
Real
Real
Integer, Real

Integer, Real


Integer, Real
Integer

Real

Real
Integer

Integer
Integer, Real
Integer, Real


Integer
Real
Integer, Real
Real
Real
Integer
Real
Real
Real
Integer, Real
Real



Real
Real
Integer, Real
Real

Integer
Real
Integer, Real
Integer

Integer
Real

Integer, Real
Integer
Integer, Real
Integer



Real
Real
Real
Integer, Real

Real
Integer
Integer, Real
Integer
Integer


Real

Integer
Real


Real
Integer, Real
Integer


Real
Integer, Real

Real
Real
Real
Real
Real
Real

Integer, Real
Real
Real

Real
Integer, Real
Integer, Real

Integer, Real
Integer, Real

Integer
Integer
Real


Real
Integer
Real
Real
Integer

Real
Integer
Integer
Integer
Integer, Real
Integer, Real

Real
4177
48842
798
37711
452
6000
226
226
398
205
294
625
16
286
699
198
569
108
1728
48842

3196
28056

100
67557
690
125
209
1473
581012
512
366




132
336
194
352
214
306
160
303
155
368

2310
3279
351
150
7797
104
57

24
20000
345

32
148
209
528

106
128
3190
432
202
2000
8124
476
6598
12960

5473
5620
10992
90
339



167
15
1389
307
47
23
531
4601
267
267
76

1000
151
958
7200
10
285
435
527
5000
5000
178
1484
101

20000
6650
2565
2458285
299285
340
68040

122
178080
50672
640
9000
10104
256932
640
191779
4000000

10000
989818
129000

100000
21578
463
600
332


690
1000
270
6435
2310
58000
946
20008
208
528


1024
10080
50400
1025010
19020
1364
961
517
200
8000000
1030
606
900
2600
1950
13500
4400
2536
300
197
2858
748
11640
1593
1567
22632
360
103
1994
120
4898
2396130
16772
5875
503
51
106
2126
5456
8800
164860

1941
130065
515345
440

53500
8235

5749132
2215
310
10000
3000
1500
30000
2500
4143
64
53414
65554
45211
1138562
13910
583
2551
34465
5574
245057
182
3850505
138
1080
2075259
210
115
3960456

10299
1600
768
308
100
237
434874
536
140000
6118
165632
18000
540
931
1055
100
9120
403
111740
10421
5820
403
14980
45730
2584
1372
306
120000
13910
2747
3395
39242
4137
17389
51
470
132
5000000
11000000
250
126

4889


340
501
45781
1503
440
2000
9568
168
100000
5665
79
127
1040
9900
560
60021
1419
101
399
58
180
21048

750
3000
150
1059
11934
27965
216
120
649
370
4178504
221579
10800
58509
129685
2456
2921
1151
6590
3000
39797
326
913
168286
400
314080
637
1710671
12000
10929
1080
40000
43930257
230318
10500000
13197

30000
324
541909
11164866
163
373
20560
40
422937
9358
640
919438
40949
5744
10503
42240
102944
500
9782222
11463
17898
1885
19735
1540
4007
153540
606
1353
1956
43824
3942
858
287
17764280
106574
9358
11500
92000
315
78095
130
74
52854
77
811
504
401
2856
10546
801
1540
1451
1075
78095
7195
3600
76
60
405
303
303
107888
76000
10000
180
745000
12234
292
104
60000
2000
165
217
1175
704
75128
90
90
50
71
93239
540
105
6611
15
372
58000
4960
241600
130000
7062606
740
70
2205
10721
640
1000
116
1672
322
93600
3060
5879
9200
20000
20867

4143
215063
6000000
21263
63000000
10190
300
12330
5180
756
10000
80
1184
1047
777
249
414

143
7840
30000
35717
135
980
5456
120
4095000
7051
240
48204
260000
288000
8300000
125
170
141712
3916
6262
420768
1067371
1385
908
546
13956534
15630426
8992
1687
779
1056
590
21643
7750
14057567
27170754
597
329
299
20000
26136
1000
399
24017
325834
2916697
22470
189
520
826
2279
28764
7107
288000
9800
4760
72
1450
170
1984
2955
65532
65919
2111
3810
18
244
104
139
360177
36733
4480
165474
1985
10000
232
150
11
14057567
8760
48
6321
3150
17256
187
399
14
467
597
23700
615
6819
1000

2633
200
13028
800
1700
521
120000
666
88
200
2279
23570
10000
37700
1850
11
147270
3150
17256
597
7624
314
1197
70
7624
26737
10000
13611
12684
48
731
731
557
107
158716
15744
153000
557
36
4200
61069
52417
900
35040
4746
73
11000
4465
145
202
221
597
298
110341
705
2101
1765
150
4000
6272
1996
35040
75840
400
1014
8
14
38
294
279
7

69
8
26
1
4
4
9
10
34
32
13
6
14
22
36
6

6
42
15

9
9
54
39
33
20



12
8
30

10
3
5
75
19
27

19
1558
34
4
617
12
16
7
4
16
7

56
18
8
22

58

61
7

649
22
168
168
8

10
64
16
8
17


72
4
6
10
35
35
4
102
57
22
44
45


5
9
21
32
17
16
38
21
40
13
8
17


15
22
68
40
17
89

4
12


86
72
61
12
481
42






5
90

5


14
20
13
36
19
9
18
4
60
10


10
4
3
11
11

6
13

100000
9
101
10000
20000
100000
5000
500
73
43
23
3
5

256
591
70
91
10
128
6
12
3231961
5409
26


10
23
24
13
8

27
50
90
138672

386


12
147
6
8
27
10000
20000
10000
54877
4702
24
29
17
3
128
10
242
120

4
13
52
47
857
9
7
200
4

561
64
8
7
10
9
4
8
77
51
18
1950000
18
1300
41
6
5625
5

7
33
5
15
9
19
5
5
1000000
129

20
152
24
16
35
17
5
18
28
7
309
3
6


16
13
5
6
8
2
4
148
55
17
8
42
26
50
2
281
120

6
120432
150000
529

16
2500
5
68
16
100
216
23
33
140256
19
20
20
49
12
30
5232
20
1

61
27
53
11
25
0
20
9
3
561
82
13
16
13
28
4

24
34
8
128
15
513
7
7
5
15
480000
11
54
561
64
6
116
19

5812
9
32
29
67

25
6400
10
5
13
98
36
69
2158859
518
15
179

12
38
65
102
86
7
53
20
1
71
29
20531
65
3
22
38
22
4814
698
13
10
59
56
482
171
5
500
411
8519
21
21
171
7
49
12
3
21
9
8
7
2
11
11
173
5
15
3
105
25000

18
21000
115
21
206
43680
8
10
59
10
5
5
1000
138

16
2
10

8
6
129
81
12
6
22
18
9
754
14
5


18
7
7

7
5
6
4
18
11
25

20
12
46
9
8
49
11
8
54
36
3916
710
18
8
29
7
9
37
6
1024
1024
14
7
8265
29
25
3
115
1
12
13
200000
6
21
4
2400
175
10
4714
23
17
2
9
8
280
49
3
14
19

54
8
1087
12
3
17
8
9
12
1656
6
2
11
533
14
84
22
16
52
19
3
14
321
13
13
55
39
4
7
79
1

14
96
21

5
2
69
9
124
20
25
11
19
9
9
5
7
4006
2
19
4
13
55
1
7842
15
15
70
7842
4
14
17
23
321
1068
1068
5
6
4

5
5
15
7
21
9
8
11
21
22
2
241
33
29
7
1

4
11
47
10
3
2
632
6826
11
525
50
7
1995
1996

1998
1998
1992
1987
1992
1993
1987
1994
1994

1988
1992
1995
1995
1990
1997
1996
1988
1989
1994


1995

1992
1987
1997
1998
1995
1998


1994

1989
1996
1990
1990
1987
1999
1989
1988
1988
1989

1990
1998
1989
1988
1994
1990
1988
1988
1990
1991
1990

1992
1988
1990
1996
1995
1990

1992
1992
1994

1987
1994
1994
1997
1991
1995
1998
1998
1993
1988


1992
1993
1988
1989
1988
1987
1993
1988
1999
2001
2001

1992
1993
1997
1991
1987
1994
1988
1987
1993
1988
1988
1991
1996
1990

1999
1999
2002

2000
1999
1999
2001
1999
1999
2000
1999
2000
1999
1999

1998
1999
2001
1999

2003
1999
1999
1997
1999
1999
1998



1994

1993
1990







1989
2006
2006
2007
2007
2007
2007
2008
2008
2008
2007
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2009
2008
2008
2008
2009
2009
2009
2009
2009
2009
2010
2009
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2014
2013
2013
2013
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2013
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2015
2014
2014
2015
2015
2015
2015
2015
2015
2015
2015
2014
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2016
2016
2015
2016
2016
2015
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2017
2016
2017
2016
2017
2017
2016
2016
2017
2017
2016
2017
2017
2017
2017
2016
2017
2016
2016
2016
2017
2017
2017
2017
2017
2017
2017
2016
2016
2016
2016
2017
2017
2017
2017
2017
2016
2017
2017
2017
2017
2017
2017
2017
2016
2016
2016
2017
2017
2017
2017
2017
2017
2017
2017
2016
2018
2018
2016
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2019
2019
2018
2018
2018
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2020
2020
2019
2020
2020
2020
2020
2020
2019
2020
2020
2020
2020
2020
2020
2020
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2021
2018
2018
2019
2019
2019
2019
2019
2019
2019
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2021
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020

,Dataset Name,Data Type,Task,Attribute Type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
615,REJAFADA,Multivariate,Classification,Integer,1996,6826,2020
616,Steel Industry Energy Consumption Dataset,Multivariate,Regression,Integer,35040,11,2020
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020

In [62]:
show_details=pd.DataFrame(list(zip(name,data_type,task,att_type,instances,attribute,year)),
                          columns=['Dataset Name','Data Type','Task','Attribute Type','Instances','Attribute','Year'])
show_details

,Dataset Name,Data Type,Task,Attribute Type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
615,REJAFADA,Multivariate,Classification,Integer,1996,6826,2020
616,Steel Industry Energy Consumption Dataset,Multivariate,Regression,Integer,35040,11,2020
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020